html {
    /* this prevents macos from bouncing the page using the thumbwheel */
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
}

body {
    height: 600px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

